@import url("aside.css");

h1{
	height:143px;
	background:url(../imgs/h1back4.jpg) no-repeat;
}
h1 div{
	font-size:65px;
	font-family:'Droid Sans',sans-serif;
	font-weight:normal;
	color:#fff;
	float:right;
	position:relative;
	top:110px;
	right:10px;
}
article{
	float:left;
	width:700px;
	padding:20px;
}
article h2{
	font-size:30px;
	font-family:'NanumGothic', sans-serif;
	margin:10px 0 30px 0;
}

table#cbbs{
	width:680px;
	border-top: 1px solid #363636;
	border-bottom:1px solid #ccc;
	border-collapse:collapse;
}
table#cbbs th, table#cbbs td{
	padding:10px;
	text-align:center;
}
table#cbbs th{
	border-bottom:1px solid #363636;
	font-size:1.1em;
	background:#f2f6f8;
}
table#cbbs th:nth-child(2){
	letter-spacing:5em;
}
table#cbbs td{
	border-bottom:1px dotted #ccc;
}
table#cbbs tr:nth-child(even){
	background-color:rgba(245,245,245,0.9);
}
table#cbbs td:nth-child(2){
	text-align:left;
	width:50%;
}

#page{
	width:700px;
	text-align:center;
	margin-top:10px;
}
#page ul.paging{
	list-style:none;
}
#page ul.paging li{
	display:inline-block;
}
#page ul.paging li a{
	display:block;
	padding:2px 5px;
	margin:0 5px;
	border:1px solid #ccc;
}
#page ul.paging li a:hover{
	background-color:#ff7720;
	color:#fff;
}
.btn{
	float:right;
}
.btn a{
	display:block;
	font-size:1.2em;
	color:#fff;
	background:green;
	width:80px;
	padding:10px;
	text-align:center;
	border-radius:18px;
}
.btn a:hover{
	background:blue;
}

button#search{
	width:70px;
}
button#search:hover{
	background:#ccc;
}